*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  position: relative;
  background-color: #262c4c;
  color: white
}

/*logo editing*/
.dlogo {
  display: flex;
  flex-direction: column;
  align-items:center;
  align-self: center;
  width: auto;
  border: thin black solid;
  border-radius: 100%;
  box-shadow: 2px 2px 0 red, 4px 4px 0 #3bc5e4,
  -2px -2px 0 red, -4px -4px 0 #3bc5e4;
  padding:4px;
  margin: 1rem
}
.dlogo :first-child{
  font-size: 3rem;
  text-shadow:2px 2px 0 red, 4px 4px 0 #3bc5e4;
  text-shadow: ;

}

/* side nav editing */
nav{
  display: flex;
  flex-direction:column;
  background-color: #4c5769;
}
nav ul{
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}
li a{
  text-decoration: none;
  color:white;
}
li{
  list-style-type: none;
}
li a:hover{
  text-decoration: underline;
}
.copy :first-child{
  font-size: 2rem;
}
.copy :last-child{
  margin-left: .5rem
}
nav ul li :last-child{
  margin-right:.5rem;
}
@media (max-width:500px){
li{
  display: flex;
  flex-direction: column;
  align-items:center;
}
}
@media (min-width:500px) {
article{
  margin-left: 25%;
}
nav{
  position: fixed;
  top:0;
  left:0;
  width:20%;
  height: 100%;
}
ul{
  flex-direction: column;
}
li{
  display: flex;
  border-top: thin black solid;
  font-size: 1.25rem;
  align-items: flex-end;
  height: 5rem;
}
.icon img{
width:4rem;
height:4rem;
}
.copy{
  border-bottom: thin solid black;
}
}
/*icons*/
nav img{
  height: 2rem;
  filter: invert(100%);
}
/*main page*/
.home h2 a{
  color:orange;
  font-size: 2rem;
}
.home h2{
  margin: 0;
  display: inline;
}
/*about me page*/
.about h1{
  font-size: 3rem;
  margin-top: 1rem;
}
.about p{
  text-indent:3rem
}
.love img{
  width:50%;
}
.loveimg{
  display: flex;
}
.love{
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.life img{
width:50%;
margin-left: 25%;
}
.life{
  margin-bottom: 3rem;
}
.background img{
  width:100%;
  background-color: white;
}
@media (min-width:500px) {
.about{
  font-size: 1.5rem;
}
}
/*skills page */
.skills h1{
  font-size: 3rem
}
.skills h3{
  margin-top:1rem;
  font-size: 2rem;
}
.skills img{
  width: 100%
}

/*projects page*/
.project .this{
  display: flex;
  flex-direction: column;
}
.project .pub a img{
  background-color:white;
}
.dlogo{
  color:white;
  text-decoration: none;
}
@media (min-width:500px) {
.project section p{
  font-size: 1.5rem;
}
.project h2{
  font-size: 2.5rem;
}
}
