*{
  box-sizing: border-box;
}
/* side nav editing */
body{
  position: relative;
}
ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
}
article{
  margin-left: 20%
}
